body {
  font-family: 'League Spartan', sans-serif;
  background: rgba(0,0,0,0.1);
}
h1 {
  font-size: 50px;
  letter-spacing: 5px;
  text-align: right;
  padding: 0 20px 0 0;
}
ul.pageItem {
  max-width: 80vw;
  list-style-type: none;
  li {
    padding:10px 0px;
    cursor: pointer;
    font-size: 30px;
    transition: 0.2s ease-in;
    &:hover{
      color: #fff;
      transform: translateX(10px);
    };
  }
}